/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(239, 70%, 56%);
   --title-color: hsl(216, 33%, 16%);
   --text-color: hsl(216, 33%, 32%);
   --white-color: hsl(216, 33%, 98%);
   --body-color: hsl(216, 16%, 95%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: "Montserrat", sans-serif;

   --h2-font-size: 1.25rem;
   --normal-font-size: 1rem;
   --small-font-size: .875rem;
}
